@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap");

@mixin button {
  font-family: "Open Sans" !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  color: #003a5c !important;
  font-weight: 600;
  transition: $transition;
  background: rgb(0, 184, 237);
  background: linear-gradient(
    90deg,
    rgba(0, 184, 237, 1) 0%,
    rgba(0, 255, 254, 1) 100%
  ) !important;
  letter-spacing: 1.7px;
  &:hover {
    text-decoration: none !important;
  }
  border-radius: 10px !important;
  padding: 13px 44px !important;
}

@mixin small-button {
  font-size: 12px !important;
  letter-spacing: 1.5px !important;
  padding: 6px 30px !important;
}
@mixin blue-button {
  background: #003a5c !important;
  color: #1ae5dd !important;
  padding: 10px 30px !important;
}
#gform_Wrapper_1 {
  background-color: #e3e3d4;
  .button {
    @include small-button;
    letter-spacing: 2px !important;
    font-size: 13px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
$transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);

@mixin searchbar {
  width: 100%;
  position: relative;
  border: 2px solid #e7e7e7;
  padding-left: 15px;
  input {
    &,
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 600 !important;
      font-size: 14px !important;
      color: #272727 !important;
    }
  }
  .media-boxes-icon {
    background: #003a5c;
    position: absolute;
    right: 0px;
    top: 0;
    height: 37px;
    width: 37px;
    &,
    &::before {
      color: #1ae6dd !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding-right: 13px;
    }
  }
}

@mixin dropdown {
  width: 100%;
  position: relative;
  border: 2px solid #e7e7e7;
  padding-left: 3px;
  .media-boxes-drop-down-header,
  .filters li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #272727 !important;
  }
  .fa-sort-down {
    background: #003a5c;
    position: absolute;
    right: -4px;
    top: 0;
    height: 37px;
    width: 37px;
    &,
    &::before {
      color: #1ae6dd !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding-right: 5px;
      padding-top: 0px;
    }
    &::before {
      margin-top: -2px;
    }
  }
  .filters .cat-item a:hover {
    background: #33a6ef !important;
    color: white !important;
  }
}

.hidden {
  display: none;
}

@mixin form {
  .gform_wrapper {
    background: #e3e3d4;
    padding: 40px 35px;
  }

  .gform_footer.top_label {
    padding: 0 !important;
  }

  .gform_wrapper form {
    padding: 0 !important;
    margin: 0 !important;
    input[type="text"],
    input[type="email"],
    textarea {
      border: 1px solid #cdcdbf !important;
      padding-left: 15px;
      border-radius: 0px;
      &,
      &::placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: black !important;
      }
    }
    input[type="submit"] {
      @include button;
      border: none;
      box-shadow: none;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  h2.gform_submission_error.hide_summary {
    font-size: 10px !important;
    line-height: 13px;
  }

  div#validation_message_1_1 {
    font-size: 10px !important;
  }
}

.wp-block-button__link {
  @include button;
  margin-top: 30px;
}

body:not(.home) {
  .content {
    padding-top: 0 !important;
  }
  .main-container > section > .container > .row > .col-md-8.about-body {
    padding-bottom: 78px;
  }
}
