@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap");

@mixin button {
  font-family: "Open Sans" !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  color: #003a5c !important;
  font-weight: 600;
  transition: $transition;
  background: rgb(0, 184, 237);
  background: linear-gradient(
    90deg,
    rgba(0, 184, 237, 1) 0%,
    rgba(0, 255, 254, 1) 100%
  ) !important;
  letter-spacing: 1.7px;
  &:hover {
    text-decoration: none !important;
    background: white !important;
  }
  border-radius: 10px !important;
  padding: 13px 44px !important;
}

@mixin small-button {
  font-size: 12px !important;
  letter-spacing: 1.5px !important;
  padding: 11px 30px !important;
}
@mixin blue-button {
  background: #003a5c !important;
  color: #1ae5dd !important;
  padding: 10px 30px !important;
}
#gform_Wrapper_1 {
  background-color: #e3e3d4;
  .button {
    @include small-button;
    letter-spacing: 2px !important;

    padding-left: 25px !important;
    padding-right: 25px !important;
    padding: 3px 30px !important;
  }
}
$transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);

@mixin searchbar {
  width: 100%;
  position: relative;
  border: 2px solid #e7e7e7;
  padding-left: 15px;
  input {
    &,
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 600 !important;
      font-size: 14px !important;
      color: #272727 !important;
    }
  }
  .media-boxes-icon {
    background: #003a5c;
    position: absolute;
    right: 0px;
    top: 0;
    height: 37px;
    width: 37px;
    &,
    &::before {
      color: #1ae6dd !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding-right: 13px;
    }
  }
}

@mixin dropdown {
  width: 100%;
  position: relative;
  border: 2px solid #e7e7e7;
  padding-left: 3px;
  .media-boxes-drop-down-header,
  .filters li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #272727 !important;
  }
  .fa-sort-down {
    background: #003a5c;
    position: absolute;
    right: -4px;
    top: 0;
    height: 37px;
    width: 37px;
    &,
    &::before {
      color: #1ae6dd !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding-right: 5px;
      padding-top: 0px;
    }
    &::before {
      margin-top: -2px;
    }
  }
  .filters .cat-item a:hover {
    background: #33a6ef !important;
    color: white !important;
  }
}

.hidden {
  display: none;
}

@mixin form {
  .gform_wrapper {
    background: #e3e3d4;
    padding: 40px 35px;
  }

  .gform_footer.top_label {
    padding: 0 !important;
  }

  .gform_wrapper form {
    padding: 0 !important;
    margin: 0 !important;
    input[type="text"],
    input[type="email"],
    textarea {
      border: 1px solid #cdcdbf !important;
      padding-left: 15px;
      border-radius: 0px;
      &,
      &::placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 600 !important;
        font-size: 14px !important;
        color: black !important;
      }
    }
    input[type="submit"] {
      @include button;
      @include small-button;
      padding: 3px 45px !important;
      font-size: 13px !important;
      letter-spacing: 2.5px !important;
      border: none;
      box-shadow: none;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  h2.gform_submission_error.hide_summary {
    font-size: 10px !important;
    line-height: 13px;
  }

  div#validation_message_1_1 {
    font-size: 10px !important;
  }
}

.wp-block-button__link {
  @include button;
  margin-top: 30px;
}

body:not(.home) {
  .content {
    padding-top: 0 !important;
  }
  .main-container > section > .container > .row > .col-md-8.about-body {
    padding-bottom: 78px;
  }
}

.blue-button a {
  @include blue-button;
}

.navigation li {
  padding-bottom: 0;
  a:hover {
    color: #00b8ed !important;
  }
}

#utility-menu #socials li {
  margin-right: 0 !important;
}

/* Contact Us Page */
.page-id-668 {
  .main-container h5 {
    color: #003a5c !important;
  }

  div#gform_wrapper_3 {
    border-top: 10px solid #003a5c;
    padding: 45px 75px !important;
  }

  aside p {
    font-size: 13px !important;
    line-height: 21px;
    padding-right: 50px;
  }
  .gform_wrapper form input[type="submit"] {
    @include small-button;
  }
}

.card {
  background: transparent !important;
}

body.single-news:not(.home) .main-container hr {
  margin: 40px 0 !important;
}

.single-news figure.wp-block-image {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.page-template-template-blog {
  .col-md-4.post {
    margin-bottom: 50px;
  }
}

#header .top-level-nav-item a {
  font-family: "Open Sans", sans-serif;
}

.dropdown-menu-custom::before {
  width: 100% !important;
  top: 0px !important;
  height: 8px !important;
  background: #cdccbf !important;
  left: calc(50%) !important;
}

.dropdown-menu-custom {
  /* position: relative; */
}

.dropdown-menu-custom {
  background: #fffeff !important;
}

.dropdown-menu-custom a {
  color: #023a5c !important;
  font-weight: 600 !important;
}

.section {
  border-bottom: 2px solid #f5f5f3 !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  min-width: 214px !important;
}

.dropdown-menu-custom {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 14px !important;
}

.section:nth-last-child(1) {
  border-bottom: none !important;
}

.single-leadership {
  img.single-leader {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.card-header {
  border-bottom: 2px solid #eeeee3 !important;
  padding-bottom: 10px !important;
}

@media (max-width: 768px) {
  .home-slider img.movingImg {
    object-position: right;
    opacity: 0.3;
  }

  .slide-img {
    background: black;
  }
  input {
    width: 100% !important;
  }

  .page-id-668 div#gform_wrapper_3 {
    padding: 45px 20px !important;
  }
}

.single-post figure.wp-block-image {
  display: none;
}
section#primary-nav.scrolled {
  background: rgba(0, 28, 51, 0.95) !important;
}
.single-library .col-md-5 {
  height: 500px;
}

body.logged-in:not(.home) .banner {
  margin-top: 0px !important;
}

body.home.logged-in .home-slider-wrapper {
  margin-top: 0 !important;
}
.sidebar-offer .btn {
  border-left: none !important;
}
.sidebar-offer {
  margin-bottom: 50px;
}

.library-category img {
  height: 200px !important;
  width: 100% !important;
  object-fit: cover;
}
