.clients-section {
  padding-bottom: 50px;
  padding-top: 75px;

  .owl-wrapper-outer img {
    max-width: 100%;
    padding: 0 40px;
  }

  .section-wrapper {
    text-align: center;
    margin-bottom: 50px;
  }

  .owl-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  @media (max-width: 768px) {
    .owl-buttons {
      bottom: -75px;
      top: auto !important;
      transform: none !important;
    }

    .owl-prev,
    .owl-next {
      float: none !important;
    }
  }

  .owl-prev {
    float: left;
    @media (min-width: 768px) {
      position: relative;
      left: -30px;
    }
  }

  .owl-next {
    float: right;
    @media (min-width: 768px) {
      position: relative;
      right: -30px;
    }
  }

  .owl-wrapper-outer {
    margin-bottom: 30px;
  }

  .owl-wrapper-outer img {
    max-height: 150px;
  }

  .owl-wrapper-outer .item {
    text-align: center;
  }

  .col-sm-12.client-slider {
    margin-top: 20px;
  }
}

p.section-header {
  font-family: "Arimo";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.section-wrapper {
  text-align: left !important;
}

.fa-caret-right:before {
  content: "\f324" !important;
}

.fa-caret-left:before {
  content: "\f323" !important;
}

i.fa.fa-caret-right,
.fa-caret-left {
  color: #828282;
  font-size: 27px;
  font-weight: 500 !important;
}

.owl-next,
.owl-prev {
  background: transparent !important;
}
