section#home-offers {
  .team-box img {
    margin-top: 15px;
  }

  .our-team-box span {
    background: rgb(0, 45, 72);
    background: linear-gradient(
      180deg,
      rgba(0, 45, 72, 1) 0%,
      rgba(0, 58, 92, 1) 100%
    );
    margin-top: 0 !important;
    padding: 20px !important;
  }

  h5 {
    display: none;
  }

  background: #003a5c;
  padding-bottom: 125px;
  padding-top: 75px;
  .team-box > a,
  .team-box > h5 a {
    color: #f6f6ed;
    font-family: "Bitter";
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .team-box > h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .team-box:nth-child(3) > h5 a {
    margin-bottom: 0 !important;
  }
  .our-team-box {
    background-color: transparent;
  }
  a:hover {
    text-decoration: none;
  }
  .blog-box {
    background: rgb(0, 45, 72);
    background: linear-gradient(
      180deg,
      rgba(0, 45, 72, 1) 0%,
      rgba(0, 58, 92, 1) 100%
    );
    margin-top: 7px;
    padding: 40px 40px;
    border-bottom: 10px solid #33a6ef;
    a.button {
      font-family: "Rubik", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      font-weight: 500;
    }
    .datentime {
      font-size: 13px;
    }
    h6 a {
      font-family: "Rubik", sans-serif;
      margin-bottom: 40px;
      margin-top: 25px;
      display: block;
      color: white;
      margin: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  img {
    height: 190px !important;
    object-fit: cover;
  }
  h5 a {
    font-family: "Rubik";
    color: #990000;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 40px;
  }

  h5 {
    margin-top: 10px;
  }

  .our-team-box span {
    font-family: "Open Sans";
    display: block;
    color: #f8f8ec;
    font-size: 12px;
    strong {
      display: block;
      margin-bottom: 10px;
      color: #00b8ed;
      font-size: 17px;
      font-family: "Bitter" !important;
      font-weight: 500;
    }
  }

  .our-team-box:not(.blog-box) a.button.arrow.red {
    @include button;
    @include small-button;
    margin-left: 20px;
  }

  .our-team-box {
    position: relative;
  }
  h6 a {
    color: black;
    font-weight: 600;
  }

  h6 {
    font-family: "Open Sans", sans-serif;
  }

  span.datentime {
    font-size: 12px;
    margin-top: 0;
    line-height: 7px;
    color: white;
  }
  .our-team-box.blog-box {
    height: 100%;
  }

  @media (max-width: 1000px) and (min-width: 769px) {
    .team-box {
      max-width: 50% !important;
      flex: 0 0 50% !important;
      margin-bottom: 50px;
      min-height: 300px;
    }
  }
  @media (max-width: 768px) {
    .team-box {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 1000px) and (min-width: 769px) {
    .col-sm-12.row.b-t-p-section {
      justify-content: center;
    }
    .team-box:nth-child(3) {
      margin-top: 50px;
    }
  }
  @media (max-width: 768px) {
    .team-box {
      margin-bottom: 100px;
    }
    .team-box:nth-last-child(1) {
      margin-bottom: 50px !important;
    }
  }
}

#home-offers {
  @media (min-width: 1201px) {
    .col-sm-12.row.b-t-p-section {
      justify-content: center;
      align-items: flex-start;
      padding-right: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-left: 0 !important;
    }

    .col-sm-12.col-md-4.team-box {
      padding: 0 !important;
    }

    .col-sm-12.col-md-4.team-box:nth-child(1) {
      padding-right: 60px !important;
    }

    .col-sm-12.col-md-4.team-box:nth-child(2) {
      padding-right: 30px !important;
    }

    .col-sm-12.col-md-4.team-box:nth-child(3) {
      padding-left: 30px !important;
    }
  }
}
