section#home-offers {
  padding-bottom: 125px;
  padding-top: 175px;
  .team-box > a,
  .team-box > h5 a {
    color: #434343;
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
  }
  .team-box > h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .our-team-box h5 {
    display: none;
  }
  .our-team-box {
    margin-top: 8px;
  }
  .team-box:nth-child(3) > h5 a {
    margin-bottom: 0 !important;
  }
  .our-team-box {
    background-color: transparent;
  }
  a:hover {
    text-decoration: none;
  }
  .blog-box {
    background: rgb(243, 243, 243);
    background: linear-gradient(
      180deg,
      rgba(243, 243, 243, 1) 0%,
      rgba(243, 243, 243, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    margin-top: 7px;
    padding: 40px 40px;
    a.button {
      font-family: "Rubik", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      font-weight: 500;
    }
    .datentime {
      font-size: 12px;
      color: #434343;
      text-transform: uppercase;
      font-family: "Rajdhani", sans-serif;
      letter-spacing: 1.5px;
      font-weight: 600;
      margin-bottom: 40px;
      display: block;
      margin-top: 10px;
    }
    h6 a {
      font-family: "Roboto", sans-serif;
      margin-bottom: 40px;
      margin-top: 25px;
      display: block;
      color: #333333;
      margin: 0;
      font-size: 16px;
      &:hover {
        color: #d5bd4f;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  img {
    height: 237px;
    object-cover: cover;
  }
  h5 a {
    font-family: "Rubik";
    color: #990000;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 40px;
  }

  h5 {
    margin-top: 10px;
  }

  .our-team-box span:not(.datentime) {
    font-family: "Roboto", sans-serif;
    display: block;
    color: #333333;
    background: rgb(243, 243, 243);
    background: linear-gradient(
      180deg,
      rgba(243, 243, 243, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    padding: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    strong {
      color: #333333;
      display: block;
      margin-bottom: 5px;
      font-size: 20px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 500;
    }
  }
  .team-box:nth-child(1),
  .team-box:nth-child(2) {
    .our-team-box > div {
      height: 220px;
    }
  }
  .our-team-box:not(.blog-box) a.button.arrow.red {
    @include button;
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .our-team-box {
    position: relative;
  }
  h6 a {
    color: black;
    font-weight: 600;
  }

  h6 {
    font-family: "Open Sans", sans-serif;
  }

  span.datentime {
    font-size: 12px;
    margin-top: 0;
    line-height: 7px;
    color: white;
  }
  .our-team-box.blog-box {
    height: 100%;
  }

  @media (max-width: 1000px) and (min-width: 769px) {
    .team-box {
      max-width: 50% !important;
      flex: 0 0 50% !important;
      margin-bottom: 50px;
      min-height: 300px;
    }
  }
  @media (max-width: 768px) {
    .team-box {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 1000px) and (min-width: 769px) {
    .col-sm-12.row.b-t-p-section {
      justify-content: center;
    }
    .team-box:nth-child(3) {
      margin-top: 50px;
    }
  }
  @media (max-width: 768px) {
    .team-box {
      margin-bottom: 100px;
    }
    .team-box:nth-last-child(1) {
      margin-bottom: 50px !important;
    }
  }
}
