.pathways {
  margin-bottom: 75px;
  hr {
    margin-bottom: 50px;
    border-width: 2px;
    border-color: #e7e7e7;
  }
  .headline {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #153355;
    font-size: 20px;
  }
  .a-button {
    padding: 0;
    height: auto;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    .wrapper {
      margin-right: 30px;
      @media (max-width: 575px) {
        margin-right: 0;
      }

      > a {
        transition: $transition;
        background-position: center !important;
        box-shadow: 0px 17px 10px -2px #e1e1d3;
        border-radius: 100%;
        border: 1px solid #e7e7e7 !important;
        &:hover {
          border: 1px solid white !important;
        }
        height: 340px;
        padding: 0 10px;
        @media (max-width: 1200px) and (min-width: 993px) {
          height: 280px;
        }
        @media (max-width: 992px) {
          height: 200px;
        }
        @media (max-width: 768px) {
          height: 217.5px;
        }
        @media (max-width: 575px) {
          width: 80vw;
          height: 80vw;
        }
        margin: 0 auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 50px;
        transition: $transition;
        position: relative;
        &:hover {
          text-decoration: none;
        }
        span {
          z-index: 2;
          .content {
            font-family: "Bitter";
            font-size: 38px;
            @media (max-width: 1200px) {
              font-size: 32px;
            }
            color: white;
            font-weight: 400;
            z-index: 2;
            line-height: 40px;
            @media (max-width: 991px) {
              font-size: 18px;
              line-height: 23px;
            }
          }
        }
      }
    }
  }

  .animating-arrow {
    &:not(.hover) {
      width: 35%;
    }
    &.hover {
      width: 100%;
    }
    transition: $transition;
    overflow-x: hidden;
    @media (max-width: 991px) {
      img {
        object-fit: contain;
        max-width: 121px;
      }
    }
  }
  @media (max-width: 768px) {
    .col-sm-12.a-e-p-buttons.row {
      justify-content: center;
    }
  }
}

.a-e-p-buttons {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 769px) {
  .pathways .a-e-p-buttons {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .pathways .a-button .wrapper {
    margin-right: 0 !important;
  }

  .pathways .a-button:nth-child(1) {
    padding-right: 30px;
  }

  .pathways .a-button:nth-child(2) {
    padding-right: 15px;
  }

  .pathways .a-button:nth-child(3) {
    padding-left: 15px;
  }
}

body.home {
  background-color: #f6f6ed;
}
