section.body-section.seo-copy {
  background: #202020;
  padding-top: 88px;
  padding-bottom: 88px;
  background-size: cover;
  text-align: center;
  .container {
  }

  p.section-header {
  }

  h1 {
    font-family: "Rajdhani";
    color: #00c0b0;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }

  p {
    color: white;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 60px;
    font-weight: 400;
  }

  p:nth-last-child(1) {
    margin-bottom: 0 !important;
  }
}

@include phone {
  section.body-section.seo-copy .container {
    @media (min-width: 769px) {
      padding: 50px 20px !important;
    }
  }

  section.body-section.seo-copy {
    @media (min-width: 769px) {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    background-position: bottom center !important;
  }
}

body.home {
  @media (max-width: 575px) {
    .col-md-4.col-sm-12.team-box {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .col-sm-12.row.b-t-p-section {
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding: 0 !important;
    }

    .col-sm-12.col-xs-12 {
      padding: 0 !important;
    }
  }
  div#gform_fields_4 {
    position: relative;
    text-align: left;
  }

  div#field_4_6 {
    position: absolute;
    right: 0;
    width: 50%;
  }

  textarea#input_4_6 {
    height: 164px;
  }
  .gfield {
    input:not([type="submit"]),
    textarea {
      background: #333333;
      color: white;
      border-radius: 5px;
      border: 1px solid #454545;
      padding: 10px 20px !important;
      &::placeholder,
      & {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
      }
    }
  }
  input[type="submit"] {
    @include button;
    border: none !important;
    box-shadow: none !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
