.home-slider {
  img.movingImg {
    width: 100%;
    object-position: top right;
  }
  p {
    margin-bottom: 50px !important;
  }
  .owl-controls {
    position: absolute;
    bottom: calc(15% + 100px);
    width: 100%;
    @media (max-width: 768px) {
      bottom: 60px;
    }
  }

  .owl-next {
    @media (min-width: 769px) {
      float: right;
      position: relative;
      right: 10px;
    }
  }

  .slide-txt {
    @media (min-width: 769px) {
      padding-right: 20%;
    }
  }

  .owl-prev {
    @media (min-width: 769px) {
      float: left;
      position: relative;
      left: 10px;
    }
  }

  .slide-txt h2 {
    font-family: $mainFont;
    text-transform: uppercase;
    font-size: 53px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 48px;
      font-weight: 300;
    }
    letter-spacing: 0.025em;
    max-width: 100%;
    @media (max-width: 994px) {
      max-width: 75% !important;
    }
    @media (max-width: 768px) {
      max-width: 100% !important;
    }
    color: black;
  }

  .slide-txt h2 {
    text-transform: none;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
  }
}

.home {
  .slide-txt {
    position: absolute;
    top: 25%;
    right: 0 !important;
    width: 50%;
    padding-right: 100px !important;
    @media(max-width:768px){
        width: 100% !important;
        padding: 0 30px !important;
    }
    
    @include phone {
      top: 50%;
      transform: translateY(-50%);
    }
    p {
      color: white;
      padding-left: 10%;
    }
    a {
      @include button;
      margin-left: 10%;
    }
  }

  .home-slider .owl-slide,
  .home-slider {
    max-height: 60vh;
    min-height: 700px;
  }

  .content {
    padding-top: 0 !important;
  }

  .slide-vid video,
  .slide-vid source {
    width: 100%;
    object-fit: cover;
  }
}

.pathway-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
}

section .owl-wrapper-outer img {
  height: 150px;
  object-fit: contain;
  object-position: center;
}

section#header {
  width: 100vw;
}


@media(max-width:768px){
    #mobile-menu > div {
        height: 60vh;
        overflow-y: scroll;
    }
}